# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
dist/
build/
tmp/
temp/

# IDE settings
.vscode/
.idea/

# Coverage reports
coverage/
